<?xml version="1.0"?>
<configuration>
	<!-- Define your customer specific application settings here. When you need to use different settings depending on configuration (debug/release), you need
		to create your transformation files (appSettings.Debug.config / appSettings.Release.config) in folder	"config\<customerPluginName>\Crm.Web\App_Data\Plugins\<customerPluginName>".
		The transformed filed will be created during application startup and will be saved in runtime folder "Crm.Web\App_Data\..." -->
	<appSettings>
		<add key="WorkingTime/FromDay" value="1"/>
		<add key="WorkingTime/ToDay" value="6" />
		<add key="WorkingTime/FromHour" value="8" />
		<add key="WorkingTime/ToHour" value="16" /> <!-- use this to distinguish e.g. Prod and Test -->
		<add key="WorkingTime/MinutesInterval" value="15" />
		<add key="WorkingTime/IgnoreWorkingTimesInEndDateCalculation" value="false" />
		<add key="TechnicianRoles" value="FieldService;Field Service (Legacy)" />
		<add key="ServiceOrderZipCodeAreaLength" value="1" />
		<add key="DispatchesAfterReleaseAreEditable" value="false" />
		<add key="DashboardCalendar/ShowAbsencesInCalendar" value="true" />
	</appSettings>
</configuration>