@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li>
	<a href="#" data-route="Crm.VisitReport/Visit/EditTemplate/{{Id}}" data-toggle="modal" data-target="#modal">
		@(Html.Localize("EditVisit"))
	</a>
</li>
