@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<!-- ko if: $parentContext.$parentContext.$parent.showInSchedulerButton($data) -->
<li>
	<a id="show-in-scheduler" href="javascript: void(0);" data-bind="click: () => $parentContext.$parentContext.$parent.openDispatchInPlanningBoard.call($parentContext.$parentContext.$parent, $data)">
		@(Html.Localize("ShowDispatchInScheduler"))
	</a>
</li>
<!-- /ko -->