@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-topics" aria-controls="tab-topics" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Topics"))
	</a>
</li>
