@inherits Crm.Library.Modularization.CrmViewUserControl

<li role="presentation">
	<a class="col-xs-4" href="#tab-visit-reports" aria-controls="tab-visit-reports" role="tab" data-toggle="tab" aria-expanded="false" data-bind="translatedText: 'VisitReports'">
	</a>
</li>
