@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-visits" aria-controls="tab-visits" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Visits"))
	</a>
</li>
