<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DefaultVisitTimeSpanHours" value="4"/>
		<add key="Visit/AvailableTimeUnits" value="Year,Quarter,Month,Week"/>
		<add key="VisitReport/Prefill" value="true"/>
		<add key="Visit/EditVisitAfterClosing" value="true"/>
	</appSettings>
</configuration>