@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<style>
	#main {
		padding-bottom: 0;
	}
</style>

<ul class="top-menu">
	@Html.PluginRenderActions("SchedulerDetailsTopMenu")
</ul>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
			<scheduler params="parentViewModel: $data, inlineData: inlineData, modelForParent: schedulerComponent, locale: currentUserLocale" style="display: flex"></scheduler>
		</div>
	</div>
	<span class="autosavewarning" data-bind ="visible: !autosave() && pendingChanges()">
		<span class="badge bgm-amber"><i class="zmdi zmdi-alert-triangle"></i></span>
		@(Html.Localize("AutosaveOffWarning"))
	</span>
	@Html.RenderAction("MaterialMapItemTemplate", "ServiceOrderHeadList", new { Plugin = "Crm.Service" })
</div>

<div id="rightOverlayDiv"></div>
<div id="leftOverlayDiv"></div>