@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions
@using Crm.Rest.Model

<div id="scheduler" class="container">
	<div id="schedulertimelinepanel"></div>
</div>