@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li data-bind="visible: showInSchedulerButton(dispatch()), tooltip: true" data-placement="bottom" title="@(Html.Localize("ShowInScheduler"))">
	<a id="show-in-scheduler" href="#" data-bind="click: () => $root.openDispatchInPlanningBoard.call($root, $root.dispatch())">
		<i class="tm-icon zmdi zmdi-directions"></i>
	</a>
</li>
